.video-container {
    height: 80vh;
    width:90vw;
    display: flex;
    justify-content: flex-end;
    border-radius: 50px;
    margin: 3rem 0 0 0.28rem;
}
.video-options {
    width: 8%;
    height: 100%;
    display: flex;
    margin-left: 0.4rem;
    flex-direction: column;
    justify-content: space-between;
}
.video-bottom-icons-container {
    display: flex;
    flex:0.35;
    justify-content: space-between  ;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

@media screen and (min-width: 530px) {
    .video-options {
        width: 10%;
    }
    .video-container {
        height: 80vh;
        width:79vw;
        display: flex;
        justify-content: flex-end;
        border-radius: 50px;
        margin: 3rem 0 0 4rem;
    }
}

@media screen and (min-width: 781px) {
    .video-options {
        width: 10%;
    }
    .video-container {
        height: 80vh;
        width:59vw;
        display: flex;
        justify-content: flex-end;
        border-radius: 50px;
        margin: 3rem 0 0 4rem;
    }
}